BasedOnStyle: WebKit
UseTab: AlignWithSpaces
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 180
Language: Cpp
Standard: c++17

PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
EmptyLineBeforeAccessModifier: LogicalBlock

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: MultiLine
  SplitEmptyFunction: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AlignArrayOfStructures: Right
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignEscapedNewlines: Right
AlignOperands: Align
AlignTrailingComments: true

BitFieldColonSpacing: After

ReflowComments: false
MaxEmptyLinesToKeep: 1

SortIncludes: false
SortUsingDeclarations: true

IndentCaseLabels: false
IndentCaseBlocks: true
IndentGotoLabels: false
IndentExternBlock: false
IndentPPDirectives: AfterHash
NamespaceIndentation: None


AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: BlockIndent
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty


SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

DerivePointerAlignment: false
PointerAlignment: Left
